<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<style>
  #overlay p,
  i {
  opacity: 0;
  }
  </style>
<body>
  <!-- navbar -->
  <nav class="bg-white shadow-sm border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
    <div class="flex justify-between mx-auto">
      <a href="#" class="flex items-center pl-20">
        <img src="img/logo_smkpelita 1.png" alt="logonavbar" width="20%" class="pr-2">
        <div class="font-bold text-xl">SMKTI Pelita Nusantara</div>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden pr-20 w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 ">
          <li class="flex items-center pt-4 justify-center">
            <div class="border rounded-full bg-slate-300 text-white text-center w-6 h-6">1</div>
            <div class="text-md text-slate-300 pl-2">Kirim Tugas</div>
          </li>
          <li class="flex items-center pt-4 justify-center">
            <div class="border rounded-full bg-blue-500 text-white text-center w-6 h-6">2</div>
            <div class="text-md text-blue-500 pl-2">Tugas Berhasil Di Kirim</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--  -->
  <div class="px-32">
    <div class="flex justify-between py-12">
      <div class="font-semibold text-xl">Tugas Terkirim</div>
      <button class="bg-blue-500 rounded-md hover:opacity-80 text-white px-4 py-2">+ Tambah Tugas</button>
    </div>
    <div class="border rounded-md bg-biru-500">
      <div class="grid grid-cols-12 text-white font-semibold text-base py-2 px-4">
        <div class="col-span-1">No</div>
        <div class="col-span-8">
          Nama Dokumen
        </div>
        <div class="col-span-3 text-center">Action</div>
      </div>
    </div>
    <div class="grid grid-cols-12 text-slate-400 font-semibold text-base py-2 px-4">
      <div class="col-span-1">{{ no }}</div>
      <div class="col-span-8">
        {{ Data }}
      </div>
      <div class="col-span-3 text-center">
        <a href="#" +value.??></a>
      </div>
    </div>
  </div>
</body>
</html>